<!DOCTYPE html>
<html lang="en" ng-app = "kim">
<head>
	<meta charset="UTF-8">
	<title>Track Notes</title>
	
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<link rel="stylesheet" type="text/css" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.10/angular-material.css">
	<link rel="stylesheet" type="text/css" href="https://material.angularjs.org/1.1.10/docs.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-messages.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js"></script>
	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
	<script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.10/angular-material.js"></script>

</head>
<body ng-controller="mainCtrl">
	<!-- HEADER -->
	<header>
		<div>
			<p id="logo">track<span class="blue-color">notes</span></p>
		</div>
		<nav>
			<ul>
				<li class="icon icon-all-notes" ng-click="getAll()"> All notes
					<ul>
						<li class="icon icon-notes"> Notes</li>
						<li class="icon icon-images"> Images </li>
						<li class="icon icon-link"> Links</li>
					</ul>
				</li>
					
				<div id="hr"></div>
				<li class="icon icon-trash"> Trash</li>
			</ul>
		</nav>
	</header>
	<!-- MAIN PART -->
	<div class="main">
		<div class="container">
			<!-- TITLE AND BUTTON -->
			<div id="title">
				<h1>Notes</h1>
				<button class="btn" id="btn1" ng-click="showPrerenderedDialog($event)">Add New Notes</button>
			</div>
			<!-- CONTENT -->
			<div ng-cloak="" class="gridListdemoBasicUsage">
				<md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="2" md-cols-gt-md="3" md-row-height-gt-md="3.5:1" md-row-height="2.6:1" md-gutter="50px" md-gutter-gt-sm="50px" class>
					<md-grid-tile ng-repeat = "band in bands" md-rowspan="{{calculateRowSpan(band)}}" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" >
						<!-- NOTES -->
						<md-card layout-fill ng-if="band.note" class="box">
					        <md-card-content >
					            <h2>{{band.title}}</h2>
								<p>{{band.content}}</p>

								<div class="hover-icons">
									<div class="icon icon-color"></div>
									<div class="icon icon-edit"></div>
									<div class="icon icon-trash"></div>
								</div>
					        </md-card-content>
					    </md-card>
						<!-- IMAGES -->
					 	<md-card layout-fill  ng-if="band.img" >
					         <img ng-src="{{band.urlImg}}" id="img-box">

					         <div class="hover-img">
								<div class="icon icon-edit"></div>
								<div class="icon icon-trash"></div>
							</div>
					    </md-card>
						<!-- LINK -->
						 <md-card layout-fill ng-if="band.link" class="box">
					        <md-card-content > 
					        	<a href="{{band.url}}" class="blue-color" target="_blanck">{{band.url}} </a> 
								<div class="icon icon-new-tab"></div>

								<div class="hover-icons">
									<div class="icon icon-color"></div>
									<div class="icon icon-edit"></div>
									<div class="icon icon-trash"></div>
								</div>
					        </md-card-content>							
					    </md-card>
				
					</md-grid-tile>	
				 </md-grid-list>
			</div>
		</div>

		<!-- MODAL DIALOG ADD NOTE-->
		<div style="visibility: hidden">
			<div class="md-dialog-container" id="myDialog">
				<!-- Modal content -->
				<md-dialog layout-padding="">
					<md-dialog-content>
					  	<div class="modal-header">
					   		<h2>Add/Edit Note</h2>
					  	</div>
					  
					  	<div class="modal-body">
					  		<div >
					  			<p>Choose what kind of note you would like to add:</p> 
					  			<md-radio-group layout="row" >
					  				<md-radio-button class="md-primary "  ng-value="note" arial-label="note">
										<md-icons class="icon icon-notes" id="ic1" ></md-icons>
					  					Notes
					  				</md-radio-button>	

									<md-radio-button  ng-value="urlImg" arial-label="image">
										<md-icons class="icon icon-images" id="ic2" ></md-icons>
										Images
									</md-radio-button>  
									
									<md-radio-button  ng-value="urlLink" arial-label="link">
										<md-icons class="icon icon-link" id="ic3" id="ic2" ></md-icons>
										Links
									</md-radio-button>					
					  			</md-radio-group>
					  			
					  		</div>
					  		<!-- NOTE -->
					  		<div >
					  			<input type="text" name="text" placeholder="Titile" class="input-text">
					  			<input type="text" name="text" placeholder="Take a note..." class="input-text">
					  		</div>
					  		<!-- IMAGE -->
					  		<div>
					  			<input type="text" name="text" placeholder="Enter Image URL" class="input-text">
					  		</div>
					  		<!-- LINK -->	
					  		<div>
					  			<input type="text" name="text" placeholder="Enter  URL" class="input-text">
					  		</div>
					  		<!-- BUTOON -->
							<div id="btn">
					   	 		<md-button class="md-primary md-raised btn" ng-click="showPrerenderedDialog2($event)">Add a Note</md-button>
					   	 		<md-button class="btn" id="btn2" ng-click="closeModal('my-modal1');">Cancel</md-button>
					  		</div>
					  	</div> 
					  </md-dialog-content> 	
				</md-dialog>
			</div>
		</div>
		
		<!-- MODAL DIALOG ADDED NOTE -OK- -->
		<div style="visibility: hidden">
			<div class="md-dialog-container" id="myDialog2"> 
				
				<md-dialog layout-padding="">
					<md-dialog-content>

					  	<div class="modal-header">
					   		<h2>Add/Edit Note</h2>
					  	</div>
					  
					  	<div class="messages-OK">
					  		<md-icons class="icon icon-notes" id="ic4" ></md-icons>
					  		<div >
					  			<h3><i class="fa fa-check-circle" id="green-circle"></i> Note has been added</h3>
					  		</div>	
							<md-button  class="btn" ng-click="confirmModal();" ng-value="ok" arial-label="ok">
								OK
							</md-button>					
					  		
					  </md-dialog-content> 	
				</md-dialog>
			</div>
		</div>

<script src="js/app.js"></script>	
</body>
</html>