<modal id="my-modal1">
			<div class="modal">
				<!-- MODAL DIALOG ADD NOTE-->
				<!-- Modal content -->
				<div class="modal-content">
				  	<div class="modal-header">
				   		<h2>Add/Edit Note</h2>
				  	</div>
				  	<div class="modal-body">
				  		<div>
				  			<p>Choose what kind of note you would like to add:</p> 
				  			<div >
				  				<input type="radio" name="Notes" >					    
				  				<label class="icon icon-notes" id="ic1"> Notes</label>
								
								<input type="radio" name="Images" class="input-radio">  
								<label class="icon icon-images" id="ic2"> Images</label>						

								<input type="radio" name="Link" class="input-radio"> 
								<label class="icon icon-link" id="ic3"> Links</label>					
				  			</div>
				  		</div>
				  		<!-- NOTE -->
				  		<div >
				  			<input type="text" name="text" placeholder="Titile" class="input-text">
				  			<input type="text" name="text" placeholder="Take a note..." class="input-text">
				  		</div>
				  		<!-- IMAGE -->
				  		<div>
				  			<input type="text" name="text" placeholder="Enter Image URL" class="input-text">
				  		</div>
				  		<!-- LINK -->	
				  		<div>
				  			<input type="text" name="text" placeholder="Enter  URL" class="input-text">
				  		</div>
				  		<!-- BUTOON -->
						<div>
				   	 		<button class="btn" ng-clic="openModal('my-modal2');">Add a Note</button>
				   	 		<button class="btn" id="btn2" ng-click="closeModal('my-modal1');">Cancel</button>
				  		</div>
				  	</div>  	
				</div>
			</div>
		</modal>